body {
    font-family: "DM Serif Text", serif;
    text-align: center;
    padding: 2rem;
  }
  
  button {
    margin: 1rem;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
    font-family: "DM Serif Text", serif;
  }
  
  #output {
    margin-top: 2rem;
    text-align: left;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-family: "DM Serif Text", serif;
  }
  
/* Toast Notification */
.toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 1rem;
    opacity: 0;
    transition: opacity 0.5s ease, bottom 0.5s ease;
    z-index: 1000;
    font-family: "DM Serif Text", serif;
  }
  
  .toast.show {
    opacity: 1;
    bottom: 40px;
  }
  
  #searchInput {
    margin-top: 1rem;
    padding: 0.7rem;
    font-size: 1rem;
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-family: "DM Serif Text", serif;
  }
  
  .dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .dm-serif-text-regular-italic {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
  }
  

input {
    font-family: "DM Serif Text", serif;
}